---
const { class: className, ...rest } = Astro.props;
---

<section class:list={["section", className]} {...rest}>
  <slot />
</section>

<style>
  .section {
    padding: 3rem 1.5rem;
    width: 100%;
  }

  @media (min-width: 768px) {
    .section {
      padding: 4rem 2rem;
    }
  }
</style>
