---
import { componentMap } from "@/lib/componentMap";
import type { Section } from "@/lib/schemas/page";
import type { SemanticLevel } from "@/lib/types";

interface Props {
  sections?: Section[] | null;
}

const { sections } = Astro.props;
const sectionsArray = sections ?? [];
---

{
  sectionsArray.map((section, index) => {
    const Component = componentMap[section._type];

    const lazyLoad = index > 2;
    const semanticLevel: SemanticLevel = index > 0 ? "h2" : "h1";

    if (Component) {
      return (
        <Component
          {...{ [section._type]: section }}
          lazyLoad={lazyLoad}
          semanticLevel={semanticLevel}
        />
      );
    }

    // Fallback for sections without a component
    return <div>No component for: {section._type}</div>;
  })
}
