---
import Layout from "../layouts/Layout.astro";
import { componentMap } from "../lib/componentMap";
import { fetchHomepage } from "../lib/queries";

const homepage = await fetchHomepage();
---

<Layout>
  {
    homepage?.sections?.map((section: any) => {
      const Component = componentMap[section._type];

      if (Component) {
        return <Component {...{ [section._type]: section }} />;
      }

      // Fallback for sections without a component
      return <div>No component for: {section._type}</div>;
    })
  }
</Layout>
